<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sevenstringedzithers.sitong">
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 定位相关 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name="com.jyall.bbzf.base.BaseContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginOrRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ExperienceRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MusicMemberListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MemberListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.QinHallDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.QuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MusicSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LocalRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LocalDownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FindPWTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FindPasswordOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.KnowledgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MusicInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ToolActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".ui.activity.MusicPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.MusicEnjoyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.MenuActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sevenstringedzithers.sitong.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent123" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true" />

    </application>

</manifest>